---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page and Stuff and ting.";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>This is my awesome Astro tuts website.</h2>
  <p>So frikking what! Muppets can do this kind of thing.</p>
</BaseLayout>
