---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
  </p>
  <style>
    footer {
      font-size: 2rem;
      background-color: beige;
      padding: 1em 0;
      text-align: center;
    }
  </style>
</footer>
