---
import Social from "../components/Social.astro";

const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on
    <Social platform="Twitter" username="Jonnyp" />,
    <Social platform="Facebook" username="joanOfArc" /> and
    <Social platform="Instagram" username="jackyChan" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
